services:
  # Service Product 1 (Host: 8082 -> Container: 8080)
  products-service-1:
    build: ./products-service
    ports:
      - "8082:8080"
    environment:
      - SPRING_APPLICATION_NAME=products-service-1
    networks:
      - anarchy-net

  # Service Product 2 (Host: 8083 -> Container: 8080)
  products-service-2:
    build: ./products-service
    ports:
      - "8083:8080"
    environment:
      - SPRING_APPLICATION_NAME=products-service-2
    networks:
      - anarchy-net

  # Orders Service (Host: 8081 -> Container: 8080)
  orders-service:
    build: ./orders-service
    ports:
      - "8081:8080"
    environment:
      # Internal communication inside Docker network uses container port (8080)
      - APPLICATION_CONFIG_PRODUCTS_URL=http://products-service-1:8080
    networks:
      - anarchy-net
    depends_on:
      - products-service-1

networks:
  anarchy-net:
    driver: bridge
